<div class="switch">
    <label>
        Just now
        <input id="earlier_switch_<%- suffix %>" type="checkbox" name="earlier">
        <span class="lever pink accent-2"></span>
        Earlier
    </label>
</div>

<div id="earlier_date_<%- suffix %>" class="input-field hide">
    <i class="material-icons prefix pink-text text-accent-2">today</i>
    <input type="text" name="earlier_date" class="datepicker" placeholder="Tap here to select">
</div>
<div id="earlier_time_<%- suffix %>" class="input-field hide">
    <i class="material-icons prefix pink-text text-accent-2">schedule</i>
    <input type="text" name="earlier_time" class="timepicker" placeholder="Tap here to select">
</div>

<script>

document.getElementById("earlier_switch_<%- suffix %>").addEventListener("change", () => {
    document.getElementById("earlier_date_<%- suffix %>").classList.toggle("hide");
    document.getElementById("earlier_time_<%- suffix %>").classList.toggle("hide");
});

</script>