<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <link href="/css/login.css" rel="stylesheet" type="text/css">
        <link href="/css/footer.css" rel="stylesheet" type="text/css">
</head>

<body>

    <%- include("../partials/header-login"); %>

    <main class="container">

        <br>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a href="#login" class="active pink-text text-accent-2">
                        Login <i class="material-icons pink-text text-accent-2">login</i>
                    </a></li>
                    <li class="tab col s6"><a href="#register" class="pink-text text-accent-2">
                        Register <i class="material-icons pink-text text-accent-2">add</i>
                    </a></li>
                </ul>
            </div>
            <div id="login" class="col s12">

                <form action="/login" method="POST">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pink-text text-accent-2">account_circle</i>
                            <input id="email" name="email" type="email" class="validate" 
                                <% if (locals.email) { %> value="<%= email %>" <% } %>
                            >
                            <label for="email">Email Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pink-text text-accent-2">password</i>
                            <input id="password" name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <% if (locals.error_message) { %>
                        <div class="col left">
                            <p class="red-text"><i class="material-icons red-text">error</i> <%- error_message %></p>
                        </div>
                        <% } %>
                        <div class="col right">
                            <button class="btn pink accent-2 waves-effect waves-light" type="submit">
                                Login
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>

            <div id="register" class="col s12">
                Coming soon: Register for your free Trackle account here!
            </div>
        
        </div>
    
    </main>

    <%- include("../partials/footer"); %>

</body>

<script type="text/javascript">

document.addEventListener("DOMContentLoaded", function() {
    let elems = document.querySelectorAll(".tabs");
    M.Tabs.init(elems, {});
});

</script>

</html>